.ChatIcon{
  background: #F1AF1D;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 7vh;
  right: 4vw;
  cursor: pointer;
}

.chatWindow{
  height: 70vh;
  width: 20vw;
  background: #fff;
  position: absolute;
  bottom: 18vh;
  right: 4vw;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2);
}

.chatWindow .header{
  background: #F1AF1D;
  height: 40%;
  border-radius: 10px 10px 0 0;
  padding: 10px 6%;
  color: #fff;
  box-shadow: 0 7px 7px 0px rgba(0,0,0,0.2);
}

.chatWindow .header h2{
  margin: 0;
}

.logo{
  width: 4vw;
}

.startConversationCon{
  padding: 10px 6%;
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.2);
  width: 80%;
  margin: auto;
  border-radius: 3px;
  border-top: 3px solid;
  margin-top: -6vh;
  background: #fff;
}

.startConversationCon p{
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.startConversationCon button{
  background: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  border: 2px solid;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.startConversationCon svg{
  width: 13px;
  margin-right: 7px;
}
.chatbot{
  /* margin-top: 10vh; */
  height: 45%;
  padding: 5vh 10px 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
}
.message{
  align-self: flex-end;
  background-color: #F1F1F1;
  padding: 10px 20px;
  margin: 8px 0;
  max-width: 60%;
  border-radius: 5px;
}
.opBtnCon{
  display: flex;
  flex-direction: column;
}
.opBtnBefore{
  min-width: 30%;

  align-self: flex-end;
  background: #F1F1F1;
  border-radius: 5px;
  cursor: pointer;
  margin: 8px 0;
}

.opBtnAfter{
  background-color: #59A669;
  align-self: flex-start;
  color: #fff;
  border: 0;
  cursor: auto;
  padding: 5px 10px;
}
.queCon{
  align-self: flex-end;
  margin: 0px 0 15px;
  min-width: 10%;
  display: flex;

}
.queCon input{
  width: 80%;
  height: 4vh;
}

.queCon button{
  width: 17%;
  cursor: pointer;
  border: 0;
  background: #F1F1F1;
}

.queCon button:hover{
  border: 1px solid;
}

.queAfter{
  align-self: flex-start;
  margin: 0px 0 15px;
  background: #59A669;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

.multiSelectCon{
  align-self: flex-end;
  background: #F1F1F1;
  padding: 5px 10px;
}

.multiSelectCon button{
  background: #59A669;
  color: #fff;
  border-radius: 5px;
  border: 0;
  padding: 5px 10px;
  margin-top: 20px;
  cursor: pointer;
}

.hold{
  opacity: 0.5;
  align-self: flex-end;
}
